<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>


<div th:fragment="documents" id="documents">

  <div class="center-panel-nav">
    <!--a class="toggle-sidebar-btn btn btn-primary" href="#" ng-click="toggleSidebar()"><i class="fa fa-bars"></i></a-->

    <h3>
      <span>文档</span>
      <small>
        <span>——将您项目有关的重要资料（如接口文档、团队制度）存放于此，方便快捷的查看以及协同编辑。</span>
        <a href="">查看详细</a>
      </small>
    </h3>
    <ul class="second-nav-bar">
      <li class="second-nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ng-mouseover="toggleNewDocDropdown($event)"><i class="fa fa-plus"></i> 新建文档</li>
      <ul class="dropdown-menu">
        <li><a ui-sref=".newTXTDocument">TXT 文档</a></li>
        <li role="separator" class="divider"></li>
        <li><a ui-sref=".newMarkdownDocument">Markdown 文档</a></li>
        <li role="separator" class="divider"></li>
        <li><a ui-sref=".newHTMLDocument">HTML 文档</a></li>
      </ul>
    </ul>
  </div>

  <div class="center-panel-content document-list">


    <div class="document-content-wrapper">
      <div ui-view="">

        <div ng-show="documents.length===0" class="no-item-exists-create-new-item">
          还没有人创建文档<br/>
          赶快创建自己的第一份文档，与小伙伴们分享它吧！！！<br/>

          <div class="btn-group new-document-div">
            <button type="button" class="btn btn-primary dropdown-toggle pull-right"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    ng-mouseover="toggleNewDocDropdown($event)">
              <i class="fa fa-plus"></i> 新建文档 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ui-sref=".newTXTDocument">TXT 文档</a></li>
              <li role="separator" class="divider"></li>
              <li><a ui-sref=".newMarkdownDocument">Markdown 文档</a></li>
              <li role="separator" class="divider"></li>
              <li><a ui-sref=".newHTMLDocument">HTML 文档</a></li>
            </ul>
          </div>

        </div>

        <div ng-hide="documents.length===0">
          <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="latestDocument in latestDocuments">
              <div class="thumbnail doc-thumbnail">
                <a ui-sref=".documentDetails({docId: latestDocument.id })">
                  <div class="doc-info">{{ latestDocument.creatorName }} &nbsp; 更新于
                    <span am-time-ago="latestDocument.updated/1000"></span>
                  </div>
                  <div class="doc-title">{{ latestDocument.title }}</div>
                  <div class="doc-content" ng-bind-html="wikiTrustDangerousSnippet(latestDocument.content)"></div>
                  <div class="doc-truncated"></div>
                </a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>
                  <a href="" ng-click="predicate='title'; reverse=!reverse">文档名称
                    <i class="fa fa-sort" ng-show="predicate != 'title'"></i>
                    <i class="fa fa-sort-desc" ng-show="predicate=='title' &amp;&amp; reverse"></i>
                    <i class="fa fa-sort-asc" ng-show="predicate=='title' &amp;&amp; !reverse"></i></a>
                </th>
                <th class="col-sm-2">
                  <a href="" ng-click="predicate='created'; reverse=!reverse">创建时间
                    <i class="fa fa-sort" ng-show="predicate != 'created'"></i>
                    <i class="fa fa-sort-desc" ng-show="predicate=='created' &amp;&amp; reverse"></i>
                    <i class="fa fa-sort-asc" ng-show="predicate=='created' &amp;&amp; !reverse"></i></a>
                </th>
                <th class="col-sm-2">
                  <a href="" ng-click="predicate='updated'; reverse=!reverse">更新时间
                    <i class="fa fa-sort" ng-show="predicate != 'updated'"></i>
                    <i class="fa fa-sort-desc" ng-show="predicate=='updated' &amp;&amp; reverse"></i>
                    <i class="fa fa-sort-asc" ng-show="predicate=='updated' &amp;&amp; !reverse"></i></a>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="document in documents | orderBy:predicate:reverse">
                <td><a ui-sref=".documentDetails({docId: document.id })">{{ document.title }}</a></td>
                <td>{{ document.created | date:'yyyy-MM-dd HH:mm' }}</td>
                <td>{{ document.updated | date:'yyyy-MM-dd HH:mm' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div ng-show="displayNoMorePage()" class="text-danger text-center"><strong>没有更多了...</strong></div>
        </div>
      </div>
    </div>


    <!-- new wiki Modal -->


  </div>

</div>


</body>

</html>
