<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

<div th:fragment="documentHistory" id="documentHistory">
  <div class="panel panel-default" ng-cloak="">
    <div class="panel-heading">
      <div class="panel-title">
        <span ng-if="documentDetails.docType === docTypes.HTML.value "><i class="fa fa-html5 fa-lg"></i></span>
              <span ng-if="documentDetails.docType === docTypes.MD.value ">
                <img ng-src="/img/attachment-icon/md-66x40.png" class="markdown-img"/>
              </span>
        <span ng-if="documentDetails.docType === docTypes.TXT.value "><i class="fa fa-file-text fa-lg"></i></span>
        &nbsp; &nbsp;{{documentHistoryInfo.title }}
      
        <span class="author-info pull-right">{{documentHistoryInfo.updaterName }} &nbsp;更新于<span
            am-time-ago="documentHistoryInfo.created/1000"></span></span>
      </div>
    </div>
    <div class="panel-body" ng-if="documentDetails.docType === docTypes.HTML.value"
         ng-bind-html="wikiTrustDangerousSnippet(documentHistoryInfo.content)">
    </div>
    <div class="panel-body" ng-if="documentDetails.docType === docTypes.MD.value"
         ng-bind-html="markdownToHTML(documentHistoryInfo.content)">
    </div>
    <div class="panel-body" ng-if="documentDetails.docType === docTypes.TXT.value"
         ng-bind-html="documentHistoryInfo.content | nl2br">
    </div>

  </div>

</div>

</body>

</html>
