<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

<div th:fragment="documentDetails" id="documentDetails">

  <div class="row">

    <div class="col-sm-10">
      <div ui-view="">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <span ng-if="documentDetails.docType === docTypes.HTML.value "><i class="fa fa-html5 fa-lg"></i></span>
              <span ng-if="documentDetails.docType === docTypes.MD.value ">
                <img ng-src="/img/attachment-icon/md-66x40.png" class="markdown-img"/>
              </span>
              <span ng-if="documentDetails.docType === docTypes.TXT.value "><i class="fa fa-file-text fa-lg"></i></span>
              &nbsp; &nbsp;{{documentDetails.title }}
              <span class="author-info pull-right">{{documentDetails.creatorName }}&nbsp;更新于
                <span am-time-ago="documentDetails.updated/1000"></span>
              </span>
            </div>
          </div>

          <div class="panel-body" ng-if="documentDetails.docType === docTypes.HTML.value"
               ng-bind-html="wikiTrustDangerousSnippet(documentDetails.content)">
          </div>
          <div class="panel-body" ng-if="documentDetails.docType === docTypes.MD.value"
               ng-bind-html="markdownToHTML(documentDetails.content)">
          </div>
          <div class="panel-body" ng-if="documentDetails.docType === docTypes.TXT.value"
               ng-bind-html="documentDetails.content | nl2br">
          </div>

          <div class="panel-body">
            <div class="tabset"
                 th:replace="tab/TabSet :: tabset('documentTabs')">
            </div>
          </div>
        </div>

      </div>


    </div>

    <div class="col-sm-2">
      <div class="btn-group-vertical full-width dropdown" role="group">
        <button ng-hide="isCollected" type="button" class="btn btn-default" ng-click="collect()">收藏</button>
        <button ng-show="isCollected" type="button" class="btn btn-default" ng-click="collect()">取消收藏</button>
        <a type="button" class="btn btn-default" ui-sref=".edit">编辑</a>
        <button type="button" class="btn btn-default" ng-click="deleteDocument()">删除</button>
        <button type="button" class="btn btn-default" data-target="#" data-toggle="dropdown" aria-haspopup="true"
                role="button" aria-expanded="false"> 查看文档历史 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu full-width" role="menu" aria-labelledby="dLabel">
          <li>
            <a ui-sref="company.project.documents.documentDetails({docId:documentDetails.id})"
               ui-sref-opts="{reload:true}">返回原文
            </a>
          </li>
          <li ng-repeat="docHistory in documentHistories">
            <a ui-sref=".history({version:docHistory.version })">{{docHistory.version}}</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</div>


</body>

</html>
