.springBeans
.project
.settings
.classpath
target
MANIFEST.MF
TEST.MF
bin
database/environments
database/environments/development.properties
dev-profile.properties
velocity.log
npm-debug.log
generatorConfig.xml
.idea
*.iml
out
deploy.sh
release.xml
output
.checkstyle
mybatis-generator
service.kvdb.properties
.jshintrc
kernel/com.onboard.web/.externalToolBuilders/
.DS_Store
*.swp

solr/app/conf/db-data-config.xml
solr/app/data

OnboardWeb/**/application.properties
application.properties

node_modules
onboard.css
application-*.css
application-*.js
OnboardWeb/src/main/resources/templates/fragments/build

generator/*.xml
