<!-- created by 胡天翔 at 2015/07/08 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="cqaJobs" id="cqa-jobs">

  <!-- 筛选 -->
  <div class="title">
    <span class="title-content">任务列表</span>
    <button ui-sref="company.project.cqa.newJob" class="btn btn-default title-button" title="开始一个新的分析任务"
      data-toggle="tooltip" data-placement="right" tooltip="">+</button>
  </div>
  <div class="cqa-single-job-panel">
    <div class="panel-title">
      <a href="" class="panel-title-tag-blue" data-toggle="tooltip" data-placement="right"
        title="该任务于2015年7月8日14:00创建，并于2015年7月8日16:12完成" tooltip=""><i class="fa fa-clock-o fa-fw"></i>3天前</a>
      <a href="" class="panel-title-tag-green" data-toggle="tooltip" data-placement="right"
        title="该任务所分析的分支" tooltip=""><i class="fa fa-circle-thin fa-fw"></i>master</a>
      <a href="" class="panel-title-tag-yellow" data-toggle="tooltip" data-placement="right"
        title="该任务所分析的目录" tooltip=""><i class="fa fa-folder-o fa-fw"></i>OnboardWeb/src/main/java</a>
      <a href="" class="panel-title-tag-red" data-toggle="tooltip" data-placement="right"
        title="该任务所对应的提交" tooltip=""><i class="fa fa-code fa-fw"></i>bcf824c</a>
      <a href="" class="panel-title-button" data-toggle="tooltip" data-placement="right"
        title="再次对该分支/目录进行分析" tooltip=""><i class="fa fa-play-circle fa-fw"></i></a>
      <a href="" class="panel-title-button" data-toggle="tooltip" data-placement="right"
        title="查看详细报告" tooltip=""><i class="fa fa-info-circle fa-fw"></i></a>
    </div>
    <hr class="panel-separator"/>
    <div class="key-value-row">
      <div class="key-value-group-3">
        <div class="key-value-pair-2">
          <div class="key-bold">代码行数</div>
          <div class="value-bold" title=""><span>65,536</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">使用语言</div>
          <div class="value" title=""><span>Java</span></div>
        </div>
      </div>
      <div class="key-value-group-3">
        <div class="key-value-pair-2">
          <div class="key-bold">文件</div>
          <div class="value-bold" title=""><span>783</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">目录</div>
          <div class="value" title=""><span>191</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">总行数</div>
          <div class="value" title=""><span>130,011</span></div>
        </div>
      </div>
      <div class="key-value-group-3">
        <div class="key-value-pair-2">
          <div class="key-bold">函数</div>
          <div class="value-bold" title=""><span>11,305</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">类</div>
          <div class="value" title=""><span>920</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">语句</div>
          <div class="value" title=""><span>29,710</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">存取方法</div>
          <div class="value" title=""><span>2,443</span></div>
        </div>
      </div>
    </div>
    <hr class="panel-separator"/>
    <div class="key-value-row">
      <div class="key-value-group-2">
        <div class="key-value-pair-2">
          <div class="key-bold">质量等级</div>
          <div class="rating rating-green" title="这次分析任务所认定的质量等级">A</div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">技术债务比率</div>
          <div class="value" title="这次分析任务所认定的质量"><span>2.14%</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">债务时长</div>
          <div class="value" title="这次分析任务所认定的质量"><span>203D</span></div>
        </div>
      </div>
      <div class="key-value-group-2">
        <div class="key-value-pair-2">
          <div class="key-bold">质量问题</div>
          <div class="value-bold" title="这次分析任务所认定的质量"><span>3,968</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">阻断错误</div>
          <div class="value" title="这次分析任务所认定的质量"><span>8</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">严重错误</div>
          <div class="value" title="这次分析任务所认定的质量"><span>168</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">主要问题</div>
          <div class="value" title="这次分析任务所认定的质量"><span>1,804</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">次要问题</div>
          <div class="value" title="这次分析任务所认定的质量"><span>1,246</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">遗留信息</div>
          <div class="value" title="这次分析任务所认定的质量"><span>742</span></div>
        </div>
      </div>
    </div>
    <hr class="panel-separator"/>
    <div class="key-value-row">
      <div class="key-value-group-2">
        <div class="key-value-pair-2">
          <div class="key-bold">整体重复率</div>
          <div class="value-bold" title="这次分析任务所认定的质量"><span>32.1%</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">重复行数</div>
          <div class="value" title="这次分析任务所认定的质量"><span>41,795</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">重复块数</div>
          <div class="value" title="这次分析任务所认定的质量"><span>1,035</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">重复文件数</div>
          <div class="value" title="这次分析任务所认定的质量"><span>161</span></div>
        </div>
      </div>
      <div class="key-value-group-2">
        <div class="key-value-pair-2">
          <div class="key-bold">整体复杂度</div>
          <div class="value-bold" title="这次分析任务所认定的质量"><span>13,295</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">函数复杂度均值</div>
          <div class="value" title="这次分析任务所认定的质量"><span>1.2</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">类复杂度均值</div>
          <div class="value" title="这次分析任务所认定的质量"><span>14.5</span></div>
        </div>
        <div class="key-value-pair-2">
          <div class="key">文件复杂度均值</div>
          <div class="value" title="这次分析任务所认定的质量"><span>17.0</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cqa-waiting-jobs-panel">
    <div class="single-job-card-running">
      <div class="delete-button"><i class="fa fa-minus-circle fa-fw"></i></div>
      <div>正在处理..</div>
      <div><i class="fa fa-clock-o fa-fw"></i> 1小时前</div>
      <div><i class="fa fa-circle-thin fa-fw"></i> master</div>
      <div><i class="fa fa-folder-o fa-fw"></i> OnboardWeb/src/.../iteration</div>
      <div><i class="fa fa-code fa-fw"></i> bcf824c</div>
    </div>
    <div class="single-job-card-waiting">
      <div class="delete-button"><i class="fa fa-minus-circle fa-fw"></i></div>
      <div>排队中</div>
      <div><i class="fa fa-clock-o fa-fw"></i> 30分钟前</div>
      <div><i class="fa fa-circle-thin fa-fw"></i> master</div>
      <div><i class="fa fa-folder-o fa-fw"></i> OnboardWeb/src/main</div>
      <div><i class="fa fa-code fa-fw"></i> 1c87f45</div>
    </div>
    <div class="single-job-card-waiting">
      <div class="delete-button"><i class="fa fa-minus-circle fa-fw"></i></div>
      <div>排队中</div>
      <div><i class="fa fa-clock-o fa-fw"></i> 刚刚</div>
      <div><i class="fa fa-circle-thin fa-fw"></i> develop</div>
      <div><i class="fa fa-folder-o fa-fw"></i> OnboardWeb/src/main/.../cqa</div>
      <div><i class="fa fa-code fa-fw"></i> 258813c</div>
    </div>
  </div>
  <div class="cqa-finished-jobs-panel">
    <div class="single-job-card-A">
      <div class="delete-button"><i class="fa fa-minus-circle fa-fw"></i></div>
      <div>质量等级：A</div>
      <div><i class="fa fa-clock-o fa-fw"></i> 1天前</div>
      <div><i class="fa fa-circle-thin fa-fw"></i> master</div>
      <div><i class="fa fa-folder-o fa-fw"></i> OnboardWeb/src/main</div>
      <div><i class="fa fa-code fa-fw"></i> b73257a</div>
    </div>
    <div class="single-job-card-B">
      <div class="delete-button"><i class="fa fa-minus-circle fa-fw"></i></div>
      <div>质量等级：B</div>
      <div><i class="fa fa-clock-o fa-fw"></i> 6天前</div>
      <div><i class="fa fa-circle-thin fa-fw"></i> master</div>
      <div><i class="fa fa-folder-o fa-fw"></i> OnboardWeb/src/main</div>
      <div><i class="fa fa-code fa-fw"></i> 5412a9a</div>
    </div>
    <div class="single-job-card-C">
      <div class="delete-button"><i class="fa fa-minus-circle fa-fw"></i></div>
      <div>质量等级：C</div>
      <div><i class="fa fa-clock-o fa-fw"></i> 2个月前</div>
      <div><i class="fa fa-circle-thin fa-fw"></i> develop</div>
      <div><i class="fa fa-folder-o fa-fw"></i> OnboardWeb/src/.../notifications</div>
      <div><i class="fa fa-code fa-fw"></i> 9a7458c</div>
    </div>
    <div class="single-job-card-load">
      <p>加载更多 <i class="fa fa-spinner fa-spin"></i></p>
    </div>
  </div>
</div>

</body>

</html>
