<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

  <div th:fragment="iterationOverallStats" id="iterationOverallStats" class="stats-tab-content fade active in">

    <div class="graph-filter">
      <p class="info">      
        <!-- 解释一下该图表 -->
        {{ graphInfo() }}
        <!-- refresh btn -->
        <button class="btn btn-default refresh-btn" type="button" id="refresh" ng-disabled="busy" ng-click="refresh()">
          <i class="fa fa-refresh"></i>
        </button>
      </p>      
    </div>

    <div >
      <div class="chart-container">
        <!-- graph heading -->
        <!-- <div class="graph-heading">

          <div class="graph-title">
            <img ng-src="{{ user.avatarUrl }}" class="img-circle"></img>
            <h4>
              {{ user.name }}
            </h4>
          </div>

        </div> -->

        <div id="overallChart" class="svg-chart"></div>
        
      </div>
    </div>
    
  <div class="graph-loading-mask" ng-show="busy"></div>
  </div>

</body>

</html>